.package {
    margin-top: -20px !important;
}

.package .hero {
    position: relative;
    background-image: url('//cdn.yourholiday.me/static/dynimg/itinerary/90/1200x600/2960135-2960134_baliwatersports.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 420px;
}

.package .hero-overlay-layer {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(6 6 6 / 35%);
}

.package .hero .sub-container {
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    max-width: 72rem;
    padding-top: 180px;
}

.package .hero .sub-container .flex-wrap-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bold-white-text {
    color: #fff;
    font-weight: bold;
}

.sub-header-row2,
.sub-header-row3 {
    padding-top: 4px;
}

.package .bottom-container {
    max-width: 1160px !important;
    width: 95% !important;
    margin: 0 auto !important;
    padding-top: 32px;
}

.font-bold {
    font-weight: bold;
}

.padding-top-16 {
    padding-top: 16px;
}

.padding-top-8 {
    padding-top: 8px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-left-16 {
    margin-left: 16px;
}

.solid-divider {
    border-bottom: 1px solid #bdb8b8;
}

.margin-top-bottom-24 {
    margin: 24px 0;
}

.card {
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.024) 0px 0.3px 0.4px 0px,
        rgba(0, 0, 0, 0.05) 0px 0.9px 1.5px 0px,
        rgba(0, 0, 0, 0.1) 0px 3.5px 6px 0px;
    overflow: hidden;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0.9px 1.5px 0px,
        rgba(0, 0, 0, 0.08) 0px 3.1px 5.5px 0px,
        rgba(0, 0, 0, 0.12) 0px 14px 25px 0px;
}

.travel-card {
    border-radius: 8px;
}

.col-5 {
    max-width: 25%;
}

.travel-card figure {
    transition: all 0.3s ease 0s;
}

.travel-card figure:hover {
    transform: scale(1.05);
}

.card-img {
    display: flex;
    height: 190px;
}

.card-img img {
    object-fit: cover;
}

.travel-card .travelcard-content {
    -webkit-box-pack: justify;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .package .hero .sub-container {
        max-width: 50rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .package .hero .sub-container {
        max-width: 35rem;
    }

    .col-5 {
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .package .hero .sub-container {
        max-width: 20rem;
    }

    .col-5 {
        max-width: 100%;
    }
}