.container {
  max-width: 1160px;
  width: 95%;
  margin: 0 auto;
  background: transparent;
  flex-direction: column;
  padding-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}